fastapi==0.110.0
uvicorn[standard]==0.27.1

spacy==3.7.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

openai-whisper==20231117

numpy==1.26.4
tqdm==4.66.4
regex==2024.11.6
requests==2.32.3

pydantic==2.6.4

torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu